@charset "UTF-8";


.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --font: 'Kumbh Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
